<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- You can set a low upload speed to test the progress bar. -->
    <!-- 
		<add key="CuteWebUI.AjaxUploader.UploadSpeedKB" value="20" />
		-->
  </appSettings>
  <connectionStrings>
    <add name="SampleSqlServer" connectionString="server=(local);uid=test;pwd=test;database=AjaxUploader" providerName="SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <httpRuntime maxRequestLength="2000000"/>
    <pages>
      <controls>
        <add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
      </controls>
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.IO"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
      </namespaces>
    </pages>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </httpModules>
  </system.web>
</configuration>