<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- You can set a low upload speed to test the progress bar. -->
    <!-- 
		<add key="CuteWebUI.AjaxUploader.UploadSpeedKB" value="20" />
		-->
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2000000"/>
    <pages>
      <controls>
        <add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
      </controls>
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.IO"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
      </namespaces>
    </pages>
    <compilation debug="true"/>
    <httpModules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </httpModules>
  </system.web>
</configuration>