<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="connCatalog" type="ESB.Helper.ConnCatalog.CatalogConnectionSection, ESB.Helper, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4b9a4c3c9296f0ae, processorArchitecture=MSIL" />
        <section name="dbManagerConfiguration" type="ESB.Helper.DBManagerConfiguration, ESB.Helper, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4b9a4c3c9296f0ae, processorArchitecture=MSIL" />
    </configSections>
    <connectionStrings>
        <clear />
        <!--HOMOLOGAÇÃO-->
        <add name="log4net" connectionString="Data Source=sfmtzsunhmg01\develop;User Id=usr_logerrorhmg;password=usr_logerrorhmg;Initial Catalog=LogErros;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
        <!--PRODUÇÃO 
		<add name="log4net" connectionString="Data Source=SVDATSQLPRD05;Initial Catalog=LogErros;User ID=usrlogelmah;Password=logelmah;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	   -->
    </connectionStrings>
    <appSettings>
        <add key="PathFileCreate" value="C:\OnBase\ImagensTemp\" />
        <add key="usrOnbase" value="wcfonbase" />
        <add key="pwdOnbase" value="onbasewcf" />
        <add key="tentativasConexao" value="100" />
        <add key="application" value="ESB.Onbase" />
        <!-- Inicio Homologação -->
        <add key="OBConexao" value="Password=wstinol;Persist Security Info=True;User ID=hsi;Initial Catalog=OnbaseMongeral;Data Source=svdatsqlhmg04" />
        <add key="OBurlApp" value="http://svdatdighmg/appserver/service.asmx" />
        <add key="DataSourceOnbase" value="onbasehmg" />
        <add key="caminhoDestinoArquivos" value="\\svdatdighmg\DIP\" />
        <add key="pathAbsolutoImagem" value="E:\DIP\" />
        <add key="ambiente" value="HMG" />
        <add key="idSistema" value="96f16bcd-0dc5-45f0-81a3-0e55c72110ff" />
        <!-- Inicio Produção
        <add key="OBConexao" value="Password=wstinol;Persist Security Info=True;User ID=hsi;Initial Catalog=OnbaseMongeral;Data Source=svdatsqlprd04"/>
        <add key="OBurlApp" value="http://svdatdig01/appserver/service.asmx"/>
        <add key="DataSourceOnbase" value="Onbase"/>
        <add key="caminhoDestinoArquivos" value="\\svdatdig01\DIP\"/>
        <add key="pathAbsolutoImagem" value="E:\DIP\"/>
        <add key="ambiente" value="PRD"/>
        <add key="idSistema" value="1fc8cb33-e4a5-45e9-aa84-0edef672e07d" />
        -->
    </appSettings>
    <system.diagnostics>
        <!--<sources>
			<source name="System.ServiceModel"
					switchValue="All"
					propagateActivity="true">
				<listeners>
					<add name="ServiceTrace"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "C:\Temp\ServiceTrace.svclog" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="MessageServiceTrace"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "C:\Temp\MessageServiceTrace.svclog" />
				</listeners>
			</source>
		</sources>-->
    </system.diagnostics>
    <system.web>
        <httpRuntime maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="103600" />
        <compilation debug="true" targetFramework="4.0" />
        <roleManager enabled="true" defaultProvider="MAGRoleProvider">
            <providers>
                <clear />
                <add name="MAGRoleProvider" type="ESB.ControleAcesso.MAGRoleProvider, ESB.ControleAcesso, Version=2.0.0.0, Culture=neutral, PublicKeyToken=1d952d1fe511194d, processorArchitecture=MSIL" />
            </providers>
        </roleManager>
        <membership defaultProvider="MAGMembershipProvider">
            <providers>
                <clear />
                <add name="MAGMembershipProvider" type="ESB.ControleAcesso.MAGMembershipProvider" />
            </providers>
        </membership>
    </system.web>
    <system.serviceModel>
        <!--<diagnostics>
			<messageLogging logEntireMessage="true"
							logMalformedMessages="true"
							logMessagesAtServiceLevel="true"
							logMessagesAtTransportLevel="true"
							maxMessagesToLog="10000"
							maxSizeOfMessageToLog="200000"
		  />
		</diagnostics>-->
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOnBase" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20971520" maxBufferPoolSize="20971520" maxReceivedMessageSize="20971520" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="20971520" maxArrayLength="20971520" maxBytesPerRead="94096" maxNameTableCharCount="20971520" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOnbase" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="20971520" maxReceivedMessageSize="20971520" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="94096" maxNameTableCharCount="20971520" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
            <customBinding>
                <binding name="NetTcpBinding_IOnbase" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00">
                    <binaryMessageEncoding>
                        <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
                    </binaryMessageEncoding>
                    <tcpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="20971520" hostNameComparisonMode="StrongWildcard" maxBufferSize="20971520" maxPendingConnections="1000" channelInitializationTimeout="00:02:00" transferMode="Streamed" listenBacklog="1000" portSharingEnabled="false" teredoEnabled="false">

                    </tcpTransport>
                    <!--<connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="100" />-->
                </binding>
            </customBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IOnbase" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="20971520" maxBufferSize="20971520" maxConnections="10" maxReceivedMessageSize="20971520">
                    <readerQuotas maxDepth="932" maxStringContentLength="998192" maxArrayLength="2147483647" maxBytesPerRead="94096" maxNameTableCharCount="20971520" />
                    <security mode="None">
                        <transport protectionLevel="None" />
                    </security>
                </binding>
            </netNamedPipeBinding>

        </bindings>
        <services>
            <service name="ESB.Onbase.Onbase" behaviorConfiguration="ServiceBehavior">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnBase" contract="ESB.Onbase.Interface.IProposta" />

                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnBase" contract="ESB.Onbase.Interface.IConvenioAdesao" />

                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnBase" contract="ESB.Onbase.Interface.IOrgaoConsignante" />

                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnBase" contract="ESB.Onbase.Interface.IOnBase" behaviorConfiguration="comLog" />

                <!--   
				<endpoint address=""
						   binding="netNamedPipeBinding"
						   bindingConfiguration="NetNamedPipeBinding_IOnbase"
						   contract="ESB.Onbase.Interface.IOnBase" />
				
				<endpoint address=""
						  binding="wsHttpBinding"
						  bindingConfiguration="WSHttpBinding_IOnbase"
						  contract="ESB.Onbase.Interface.IOnBase"
						  behaviorConfiguration="comLog"/>

				<endpoint address=""
						  binding="customBinding"
						  bindingConfiguration="NetTcpBinding_IOnbase"
						  contract="ESB.Onbase.Interface.IOnBase" 
						  name="NetTcpBinding_IOnbase"
						  behaviorConfiguration="comLog"/>
 -->

                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <!-- Para Produção alterar mexHttpBinding para mexHttpsBinding-->
            </service>
        </services>
        <extensions>
            <behaviorExtensions>
                <add name="LogOperacao" type="ESB.LogOperacao.LogOperacaoInspectorBehaviorExtension, ESB.LogOperacao, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8bab4ca114e1aa01" />
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <endpointBehaviors>
                <behavior name="comLog">
                    <LogOperacao incluirTagSecurity="false" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceCredentials>
                        <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" />
                    </serviceCredentials>
                    <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="MAGRoleProvider" />
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- Para Produção, adicionar httpsGetEnabled="true"-->
                    <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="100" maxConcurrentSessions="100" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <!--HOMOLOGAÇÃO-->
    <connCatalog serviceUri="http://svmtzsharehmg01:8080/ConnCatalog/Service/ConnCatalog.svc">
        <connections>
            <add sistema="" identificador="" />
        </connections>
    </connCatalog>
    <!--PRODUÇÃO 
    <connCatalog serviceUri="http://svdatappc02/CatalogoConexoes/Service/ConnCatalog.svc">
        <connections>
            <add sistema="" identificador="" />
        </connections>
    </connCatalog>
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LogExtension" publicKeyToken="12ed02281dd8e3b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
