<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- You can set a low upload speed to test the progress bar. -->
    <!-- 
		<add key="CuteWebUI.AjaxUploader.UploadSpeedKB" value="20" />
		-->
  </appSettings>
  <system.web>
    <httpModules>
      <!-- MagicAjax is used in ASP.NET 1.1 examples. It's optional. -->
      <add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </httpModules>
  </system.web>
</configuration>